aiofiles==0.5.0
beautifulsoup4
bs4
certifi==2020.6.20
chardet==3.0.4
h11
h2
hpack==3.0.0
hstspreload==2020.6.30
http3==0.6.7
httptools==0.1.1
httpx==0.11.1
hyperframe==5.2.0
idna==2.10
multidict==4.7.6
requests
requests-async==0.6.2
rfc3986==1.4.0
sanic==20.6.3
six
sniffio==1.1.0
soupsieve==2.0.1
sphinxcontrib-serializinghtml==1.1.4
urllib3==1.25.9
vk-api
websockets==8.1

aiohttp
aiogram